<header>
  <div class="header-center">
    <a href="/"><h2>Todo</h2></a>
    <nav>
      <a href="/"><span class="material-symbols-outlined"> home </span></a>
      <a href="/create"
        ><span class="material-symbols-outlined"> create </span></a
      >
    </nav>
  </div>
</header>
