@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&family=Ruthie&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.heading {
  color: salmon;
}
:root {
  --atomic: #ff9b71;
  --space-cadet: #2d3047;
  --icterine: #fffd82;
  --bebas: "Bebas Neue";
  --ruthie: "Ruthie";
  --poppins: "Poppins";
}

p {
  color: #555;
}
.btn {
  padding: 13px 30px;
  border: none;
  background-color: var(--space-cadet);
  color: var(--atomic);
  font-family: "Poppins";
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}
.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: var(--space-cadet);
  color: var(--atomic);
  font-size: 25px;
  transition: 0.2s;
  cursor: pointer;
}
.btn-icon:hover {
  box-shadow: 4px 4px 0 var(--atomic);
}
.btn:hover {
  box-shadow: 4px 4px 0 var(--atomic);
}
.material-symbols-outlined {
  cursor: pointer;
  transition: 0.2s;
}
.material-symbols-outlined:hover {
  transform: scale(1.1);
}

.sec-center {
  width: 1100px;
  margin: 0 auto;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* header  */
.header-center {
  width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}
.header-center h2 {
  color: var(--space-cadet);
  font-family: var(--bebas);
}
nav a {
  margin-left: 1rem;
}
a {
  text-decoration: none;
  font-family: var(--poppins);
  color: var(--space-cadet);
}
/* footer */
footer {
  margin-top: auto;
  padding: 2rem;
  text-align: center;
  background-color: #f1f1f1;
}
/* Todos  */
.page-title {
  background-color: var(--atomic);
  margin-bottom: 2rem;
}
.page-title h1 {
  font-size: 4rem;
  color: var(--space-cadet);
  font-family: var(--bebas);
  margin: 3rem;
}
.todos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
}
.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--icterine);
  padding: 10px 15px;
  list-style: none;
  border-radius: 10px;
  transition: 0.2s;
  position: relative;
}
.todo-img {
  width: 52px;
  border-radius: 5px;
  height: 52px;
  background-color: var(--atomic);
}
.todo-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.todo:hover {
  box-shadow: 3px 3px 0px var(--atomic);
}
.completed {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 60px;
  transform: rotate(-20deg);
  animation: completed 0.3s ease-in-out;
}
@keyframes completed {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
/* Create */
.edit-form,
.create-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
textarea,
input {
  display: inline;
  border: none;
  outline: none;
  width: 100%;
  height: auto;
  font-family: var(--poppins);
  font-size: 1.3rem;
  position: relative;
}
input[name="title"] {
  font-weight: 900;
}
textarea {
  font-weight: 400;
  color: #555;
  background-color: var(--icterine);
  border-radius: 10px;
  padding: 5px 15px;
}
input[type="file"] {
  display: none;
}
label {
  display: flex;
  align-items: center;
  gap: 7px;
  justify-content: flex-start;
  padding: 10px;
  border: 1px solid var(--space-cadet);
  color: var(--space-cadet);
  cursor: pointer;
  font-size: 18px;
}
/* Single */
.single-todo p {
  margin-bottom: 2rem;
  margin-top: 0.6rem;
}
.single-todo-btns > * {
  margin-right: 1rem;
}
.single-todo-description {
  padding: 10px 18px;
  background-color: var(--icterine);
  border-radius: 10px;
}
/* 404 */
.page-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page-not-found h1 {
  font-size: 4rem;
}
.page-not-found p {
  font-size: 2rem;
  margin-bottom: 2rem;
}
