<%- include("../partials/head")%>
<body>
  <%- include("../partials/header")%>
  <div class="page-title">
    <div class="sec-center">
      <h1>My Todos > 404</h1>
    </div>
  </div>
  <main class="sec-center">
    <section class="page-not-found">
      <h1>404</h1>
      <p>Page not found</p>
      <a href="/"><button class="btn">home</button></a>
    </section>
  </main>
</body>
<%- include("../partials/footer")%>
