<%- include("../partials/head")%>
<body>
  <%- include("../partials/header")%>
  <main class="sec-center">
    <section class="hero">
      <h1>> My Todos</h1>
      <div class="todos-container">
        <ul class="todos">
          <li class="todo">
            <a href="">
              <div class="todo-info">
                <div class="todo-img"></div>
                <div class="todo-content">
                  <h3>Apples</h3>
                  <p>Lorem ipsum dolor, sit...</p>
                </div>
              </div>
            </a>
            <div class="todo-btns">
              <span class="material-symbols-outlined"> task_alt </span>
              <span class="material-symbols-outlined"> cancel </span>
            </div>
          </li>
          <li class="todo">
            <div class="todo-img"></div>
            <div class="todo-content">
              <h3>Apples</h3>
              <p>Lorem ipsum dolor, sit...</p>
            </div>
            <div class="todo-btns">
              <span class="material-symbols-outlined"> task_alt </span>
              <span class="material-symbols-outlined"> cancel </span>
            </div>
          </li>
          <li class="todo">
            <div class="todo-img"></div>
            <div class="todo-content">
              <h3>Apples</h3>
              <p>Lorem ipsum dolor, sit...</p>
            </div>
            <div class="todo-btns">
              <span class="material-symbols-outlined"> task_alt </span>
              <span class="material-symbols-outlined close"> cancel </span>
            </div>
          </li>
          <li class="todo">
            <div class="todo-img"></div>
            <div class="todo-content">
              <h3>Apples</h3>
              <p>Lorem ipsum dolor, sit...</p>
            </div>
            <div class="todo-btns">
              <span class="material-symbols-outlined"> task_alt </span>
              <span class="material-symbols-outlined"> cancel </span>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </main>
</body>
<%- include("../partials/footer")%>
